:root {
    --bg-color: #161415;
    --text-color: #F3E2C8;
    --accent-color: #F35226;
    --button-color: #F3E2C8;
    --button-text-color: #161415;
    --font-headline: 'Oswald', sans-serif;
    --font-body: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-body);
    margin: 0;
    overflow-x: hidden;
    line-height: 1.5;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(22, 20, 21, 0.85); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(243, 226, 200, 0.1);
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
    transition: 0.2s ease-out;
}
.logo img:hover {
    transform: scale(1.05);
}

.nav {
    display: flex;       
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav__link {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-headline);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

.nav__link--current {
    border-bottom: solid 2px var(--accent-color);
}

.nav__link:hover {
    color: var(--accent-color);
    transform: scale(1.05);
}

.nav-burger {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2000;
    position: relative;
    padding: 0;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.nav--mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    align-items: left;
    gap: 50px;
    list-style: none;
    padding: 15px 25px;
    margin: 0;
    z-index: 1500;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}

.nav--mobile .nav__link {
    font-size: 3rem;
}

.nav--mobile.active {
    opacity: 1;
    pointer-events: all;
}

main {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.timeline {
    position: relative;
    width: 100%;
}

.timeline__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    bottom: 110px;
    width: 2px;
    background-color: var(--accent-color);
    z-index: 0; 
}

.hero {
    height: 22vh;
    min-height: 200px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.hero--landingpage {
    height: 91vh;
    max-width: 100%;
}

.hero--landingpage__scroll {
    margin-top: auto;
    align-content: center;
    margin-bottom: 60px;
    font-family: var(--font-headline);
    background-color: var(--bg-color);
    padding: 5px;
    transition: 0.3s ease-out;
    z-index: 1; 
}

h1 {
    font-family: var(--font-headline);
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 5px;
    background-color: var(--bg-color); 
    line-height: 1;
    transition: 0.3s ease-out;
    z-index: 1; 
}

.h1--landingpage {
    font-family: var(--font-headline);
    font-size: clamp(64px, 4vw + 3rem, 120px);
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 5px;
    background-color: var(--bg-color); 
    line-height: 1;
    transition: 0.3s ease-out;
}

h2 {
    font-family: var(--font-headline);
    font-size: 36px;
    font-weight: 400;
    background-color: var(--bg-color);
    transition: 0.3s ease-out;
    z-index: 1; 
}

.h2--scroll {
    margin: 0;
    font-size: 30px;
}

.h2--landingpage {
    font-family: var(--font-headline);
    font-size: clamp(40px, 22.909px + 3.091vw, 55px);
    font-weight: 400;
    margin-top: 0px;
    background-color: var(--bg-color);
    padding: 0px 15px;
    transition: 0.3s ease-out;
}

h3 {
    font-family: var(--font-headline);
    font-size: clamp(26px, calc(16.545px + 2.955vw), 28px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.2px;
    transition: 0.3s ease-out;
}

.intro-container {
    position: relative;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 120px;
}

p {
    font-family: var(--font-body);
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1.5px;
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; 
    z-index: 1; 
}

.staff-badge img {
    width: 350px;
    display: block;
    position: relative;
    z-index: 1;
    background-color: var(--bg-color);
}

.h2--cases {
    position: relative;
    opacity: 0;
    padding-top: 130px;
    padding-left: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
    z-index: 1;
}

.cases-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 250px;
}

.case-item {
    display: flex;       
    align-items: center;
    gap: 40px;
    opacity: 0;
    transform: translateY(150px);
    transition: all 1s ease-out;
}

.case-item__visual {
    flex: 1;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.case-item__visual video, .case-item__visual img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.case-item__visual::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/wrap.webp');
    background-size: cover;
    background-position: center;
    z-index: 2;
    mix-blend-mode: screen; 
    transition: opacity 0.5s ease;
}

.case-item__visual:hover::after {
    opacity: 0;
    pointer-events: none;
}

.case-item__tags {
    color: var(--accent-color);
    letter-spacing: 2px;
}

.case-item__info {
    flex: 1;
}
.case-item__info p {
    width: 100%;
    letter-spacing: 2px;
    line-height: 1.6;
    text-align: justify;
}

.case-item--reversed {
    flex-direction: row-reverse;
}

.case-item--reversed .case-item__tags, 
.case-item--reversed .case-item__info {
    margin: 0;
    text-align: right;
}

.knap__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    gap: 10px;
}

.studio-img {
    position: relative;
    width: 100%;
    object-fit: fill;
    z-index: 1;
}

.kontakt-grid {
    display: grid;
    grid-template-columns: 50% 50%; 
    gap: 60px;
    width: 100%;
    margin-top: 50px;
}

form {
    background-color: var(--bg-color);
    margin: auto;
}

label {
    font-size: 1.3rem;
    font-family: var(--font-headline);
    font-weight: 500;
}

input[type=text], select {
    width: 100%;
    padding: 12px;
    margin: 8px auto;
    display: inline;
    box-sizing: border-box;
    font-family: var(--font-body);
    outline-color: var(--accent-color);
    background-color: var(--text-color);
}

input[type=submit] {
    width: 100%;
    display: inline-block; 
    padding: 15px 40px;
    background: var(--accent-color); 
    color: var(--text-color); 
    text-decoration: none; 
    font-family: var(--font-headline);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1;
    transition: all 0.3s ease;
    cursor: crosshair;
    z-index: 1;
}

input[type=submit]:hover {
    background-color: var(--accent-color);
    color: var(--button-color);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.knap {
    display: inline-block; 
    padding: 15px 40px;
    background: var(--button-color); 
    color: var(--button-text-color); 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none; 
    font-family: var(--font-headline);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1;
    transition: all 0.3s ease;
    z-index: 1;
    cursor: crosshair;
}

.knap:hover {
    background-color: var(--accent-color);
    color: var(--button-color);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.case-item.show {
    opacity: 1;
    transform: translateY(0);  
}

.h2--cases.show {
    opacity: 1;
    transform: translateY(0);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--text-color); 
    padding: 40px 20px;
    margin-top: 100px;
    background-color: var(--bg-color);
}

.footer-logo {
    font-family: var(--font-headline);
    font-size: clamp(5rem, 5vw, 5rem);
    color: var(--accent-color); 
    margin: 10px ;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-headline);
    font-size: clamp(0,8rem, 2vw, 1.1rem);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(2rem, 2vw, 2rem);
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--accent-color);
    transform: translateY(-2px);
}

@media (max-width: 768px) {

    main {
    padding: 0 25px; 
    }
    
    header {
    padding: 15px 25px;
    }
    
    .logo img {
    height: 40px;
    }

    .nav {
    display: none;
    }

    .nav-burger {
    display: flex;
    }

    h1 {
    font-size: clamp(40px, 10vw + 1rem, 70px);
    margin-top: 5vh;
    }

    .h1--landingpage { 
    margin-top: 26vh;
    font-size: clamp(45px, 13.35vw + 1rem, 70px);
    }
    
    h2 {
    font-size: 2.5rem;
    margin-top: 0;
    }
    
    .h2--landingpage {
    font-size: clamp(25px, 4.9vw, 40px);
    }

    .h2--scroll {
    margin: 0;
    font-size: clamp(20px, 4.4vw, 21px);
    }
    
    h3 {
    font-size: clamp(18px, calc(16.545px + 2.955vw), 21px);
    }

    p {
    font-size: 0.8rem;
    }

    .intro-container { 
    position: relative;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    }
    
    .hero--landingpage__scroll {
    margin-bottom: 20px;
    }

    .hero {
    min-height: 0;
    }

    .staff-badge img {
    width: 100%; 
    max-width: 250px; 
    }

    .cases-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 100px;
    }

    .case-item {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    background-color: var(--bg-color);
    transform: translateY(60px);
    }

    .case-item__info {
    width: 100%;
    }

    .case-item__tags {
    font-size: 0.8rem;
    }

    .case-item__visual {
    flex: 1;
    width: 100%;
    }
    
    .case-item--reversed {
    flex-direction: column;
    text-align: left; 
    }

    .case-item--reversed .case-item__tags, 
    .case-item--reversed .case-item__info {
    text-align: left;
    margin: 0;
    width: 100%;
    display: block;
    }

    .knap__container {
    margin-top: 50px;
    }
    
    .kontakt-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    width: 100%;
    }
    
    .footer-logo {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0px;
    }
    .copyright {
    margin-top: 0px;
    font-size: 0.8rem;
    }
    
    @media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation-duration: 0s !important;
    }
}
}